In [ ]:
import pandas as pd

nba = pd.read_csv('NBA_Player.csv')

In [ ]:
nba

,Id,Date,Team,Acquired,Relinquished,Notes
0,0,1951-12-25,Bullets,NaN,Don Barksdale,placed on IL
1,1,1952-12-26,Knicks,NaN,Max Zaslofsky,placed on IL with torn side muscle
2,2,1956-12-29,Knicks,NaN,Jim Baechtold,placed on inactive list
3,3,1959-01-16,Lakers,NaN,Elgin Baylor,player refused to play after being denied a ro...
4,4,1961-11-26,Lakers,NaN,Elgin Baylor,player reported for military duty
...,...,...,...,...,...,...
37662,37662,2023-04-16,Clippers,Marcus Morris,NaN,activated from IL
37663,37663,2023-04-16,Grizzlies,Dillon Brooks,NaN,activated from IL
37664,37664,2023-04-16,Grizzlies,Ja Morant,NaN,activated from IL
37665,37665,2023-04-16,Grizzlies,Jaren Jackson Jr.,NaN,activated from IL
37666,37666,2023-04-16,Grizzlies,Santi Aldama,NaN,activated from IL

In [ ]:
print(nba.head())
print(nba.info())

  Id        Date     Team Acquired    Relinquished  \
0  0  1951-12-25  Bullets      NaN   Don Barksdale
1  1  1952-12-26   Knicks      NaN   Max Zaslofsky
2  2  1956-12-29   Knicks      NaN   Jim Baechtold
3  3  1959-01-16   Lakers      NaN    Elgin Baylor
4  4  1961-11-26   Lakers      NaN    Elgin Baylor

                                               Notes
0                                       placed on IL
1                 placed on IL with torn side muscle
2                            placed on inactive list
3  player refused to play after being denied a ro...
4                  player reported for military duty
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37667 entries, 0 to 37666
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            37667 non-null  object
 1   Date          37608 non-null  object
 2   Team          37608 non-null  object
 3   Acquired      17595 non-null  object
 4   Relinquished  20013 non-null  object
 5   Notes         37608 non-null  object
dtypes: object(6)
memory usage: 1.7+ MB
None

In [ ]:
print(nba.head())

  Id       Date     Team Acquired    Relinquished  \
0  0 1951-12-25  Bullets      NaN   Don Barksdale
1  1 1952-12-26   Knicks      NaN   Max Zaslofsky
2  2 1956-12-29   Knicks      NaN   Jim Baechtold
3  3 1959-01-16   Lakers      NaN    Elgin Baylor
4  4 1961-11-26   Lakers      NaN    Elgin Baylor

                                               Notes
0                                       placed on IL
1                 placed on IL with torn side muscle
2                            placed on inactive list
3  player refused to play after being denied a ro...
4                  player reported for military duty

In [ ]:
total_injuries = len(nba)
print(f"Total cedera: {total_injuries}")

Total cedera: 37667

In [ ]:
team_injuries = nba['Team'].value_counts()
print("Jumlah cedera per tim:")
print(team_injuries)

Jumlah cedera per tim:
Spurs             1620
Celtics           1559
Mavericks         1530
Heat              1521
Raptors           1451
Cavaliers         1410
Pacers            1406
Nets              1354
Warriors          1345
Hawks             1336
Bulls             1319
Rockets           1316
Bucks             1289
Knicks            1254
Grizzlies         1237
Nuggets           1217
Magic             1195
Clippers          1190
Pistons           1175
76ers             1161
Blazers           1113
Lakers            1105
Jazz              1101
Kings             1063
Wizards           1049
Timberwolves      1035
Hornets           1000
Suns               964
Thunder            839
Bobcats            568
Sonics             391
Pelicans           375
Bullets            105
Tams (ABA)           4
Braves               3
Colonels (ABA)       3
Zephyrs              3
Spirits (ABA)        2
Name: Team, dtype: int64

In [ ]:
top_injuries = nba['Notes'].value_counts().head(10)
print("10 cedera paling umum:")
print(top_injuries)

10 cedera paling umum:
activated from IL                                    17434
placed on IL                                          6331
placed on IL with sprained left ankle                  616
placed on IL with sprained right ankle                 574
placed on IL with NBA health and safety protocols      522
placed on IL with illness                              502
placed on IL with sore left knee                       291
placed on IL with sore right knee                      272
placed on IL with back spasms                          244
placed on IL for rest                                  215
Name: Notes, dtype: int64

In [ ]:
nba['Year'] = nba['Date'].dt.year
yearly_injuries = nba.groupby('Date')['Id'].count()
print("Jumlah pemain yang ditempatkan di IL per tahun:")
print(yearly_injuries)

Jumlah pemain yang ditempatkan di IL per tahun:
Date
1951-12-25     1
1952-12-26     1
1956-12-29     1
1959-01-16     1
1961-11-26     1
              ..
2023-04-09    13
2023-04-11     6
2023-04-12     2
2023-04-15    16
2023-04-16     8
Name: Id, Length: 5219, dtype: int64